<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DbBhmEntities" connectionString="metadata=res://*/DbBhmModel.csdl|res://*/DbBhmModel.ssdl|res://*/DbBhmModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PETITE-PC;Initial Catalog=DbBhm;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>